@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Введение в гипермедиа</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
    <h1>Первое гипермедийное приложение</h1>

    <button hx-get="/home/hello">
        Напиши приветствие
    </button>
</body>
</html>