@model ClubWebModel

<p>Все зарегистрированные участники клуба:</p>
<table class="table table-striped table-bordered">
    <thead>
    <tr><th>Id</th><th>Имя</th><th>Интересует тема</th></tr>
    </thead>
    <tbody>
    @foreach (var each in Model.All)
    {
        <tr>
            <th scope="row">@each.Id</th>
            <td>@each.Name</td>
            <td>@each.Subject.Description()</td>
        </tr>
    }
    </tbody>
</table>


