@model ClubWebModel

<button class="btn @(Model.Current.IsReady ? "btn-success" : "btn-danger")"
        hx-get hx-action="SwitchReady"
        hx-route-id="@Model.Id"
        hx-swap="outerHTML">
    @(Model.Current.IsReady ? "Готов прийти" : "Пока еще не готов")
</button>
