@{
    ViewData["Title"] = "Главная";
}

<div id="main" class="text-center">
    <h1 class="display-4">Опытное приложение</h1>
    
    <button hx-get="/contacts"
            hx-target="#main">
        Получить контакты
    </button>
</div>
