@using Htmx.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button hx-get hx-action="Message">
        Нажми меня
    </button>
</div>

<div class="d-flex justify-content-center">
    <div hx-ext="sse" sse-connect="/notifications-sse-endpoint">
        <div sse-swap="message">

        </div>

        Contents of this box will be updated in real time
        with every SSE message received from the chatroom.
        
        <div sse-swap="event1">

        </div>
        
        <div hx-get="/home/message" hx-trigger="sse:event1">
            ...
        </div>
    </div>
</div>

<div>
    <button hx-get hx-action="Send" hx-controller="Notifications" hx-swap="none">
        Отправить
    </button>
</div>