
@{
    ViewBag.Title = "Мирные победили";
}

<div class="bg-secondary p-2 m-2">
    <h1>@ViewBag.Title</h1>
    
    <p>К сожалению ваша команда проиграла!</p>

    <p>Проигравшие мирные игроки:</p>

    @foreach (var each in ViewBag.Honests)
    {
        <p><strong>@each</strong></p>
    }
    
    <p>Выигравший шпион:</p>
    
    <p><strong>@ViewBag.Spy</strong></p>
</div>

