
@{
    ViewBag.Title = "Мирные победили";
}

<div class="bg-success p-2 m-2">
    <h1>@ViewBag.Title</h1>
    
    <p>Вы выиграли! Поздравления вашей команде!</p>

    <p>Выигравшие мирные игроки:</p>

    @foreach (var each in ViewBag.Honests)
    {
        <p><strong>@each</strong></p>
    }
    
    <p>Проигравший шпион:</p>
    
    <p><strong>@ViewBag.Spy</strong></p>
</div>

