@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    <label>Логин:</label><br/>
    <input type="text" name="name"/><br/><br/>

    <input type="submit" value="Зарегистрироваться"/>
</form>