@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Правила - Онлайн игра "Шпион"</title>
</head>
<body>
    <h4>Правила</h4>

    <partial name="Partial/RulesPartial"/>
</body>
</html>
