@model IEnumerable<Player>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ожидание - Онлайн игра "Шпион"</title>
    <script src="~/lib/htmx/htmx.js"></script>
</head>
<body>
    <h4>Ожидание</h4>
    <p>
        Ваше имя:
        @ViewBag.Name
    </p>

    <p>Все зарегистрированные игроки:</p>
    <div id="wait" hx-get="@Url.Action("Index", new { ViewBag.Id })"
         hx-trigger="every 1s">
        <partial name="Partial/IndexPartial" model="Model"/>
    </div>
</body>
</html>