@model WaitWebModel
@{
    ViewBag.Title = "Ожидание";
}

<h4>@ViewBag.Title</h4>
<p>Ожидание окончания регистрации всех участников игры.</p>

<div class="my-1">
    <label>Ваше имя:</label>
    <p><strong>@Model.Current.Name</strong></p>
</div>

<div class="my-1">
    <div id="wait"
         hx-get="@Url.Action("Index", "Wait", new { Model.Id })"
         hx-trigger="every 1s">
        @Html.Partial("Partial/WaitPartial", Model)
    </div>
</div>