<button class="btn btn-info"
        hx-get="@Url.Action("ShowRules", new { ViewBag.IsShowRules })"
        hx-target="#rules">
    @(ViewBag.IsShowRules == true ? "Скрыть правила" : "Показать правила")
</button>

@if (ViewBag.IsShowRules == true)
{
    <p>Среди трех игроков затаился случайно выбранный 1 шпион.</p>

    <p>Сначала один случайный игрок задает вопрос про место другому любому игроку. Потом тот - следующему любому и так по кругу.</p>

    <p>Цель вопросов - определить кто шпион, при этом не выдать загаданное место, так как шпион про него ничего не знает. Ответ на вопрос должны показать, что вы не шпион, при этом не должны выдать загаданное место шпиону.</p>

    <p>Есть только 1 попытка угадать кто шпион. Если вы не угадаете, то побеждает шпион.</p>

    <p>Примеры вопросов:</p>
    
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Хорошо ли там кормят?</li>
        <li class="list-group-item">Тяжело ли туда попасть?</li>
        <li class="list-group-item">Ты рад был бы туда попасть?</li>
    </ol>
    
    <p>Варианты мест:</p>

    <ol class="list-group list-group-numbered">
        @foreach (var each in ViewBag.Locations)
        {
            <li class="list-group-item">@each</li>
        }
    </ol>
}


