@model RegistrationWebModel

<form asp-action="Registration" method="post" 
      hx-target="this" 
      hx-swap="outerHTML">
    <h4>Регистрация нового участника клуба</h4>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" 
               hx-post hx-action="Registration"
               hx-trigger="change, keyup delay:500ms changed"/>
    </div><br />
    <input type="submit" value="Зарегистрироваться" />
</form>
