@model RegistrationWebModel
@{
    ViewBag.Title = "Главная";
}

<div class="my-4 p-5 bg-secondary text-white rounded">
    <h1 class="text-center">Клуб программистов</h1>
    <p>
        Вы получили приглашение в клуб программистов.
        Добро пожаловать в наш уютный клуб!
    </p>
    <a asp-action="Rules" class="btn btn-dark">Правила</a>
</div>

<div class="p-2 bg-light border rounded">
    <partial name="Partial/RegistrationPartial" model="Model"/>
</div>

