@model RegistrationWebModel
@{
    ViewBag.Title = "Главная";
}

<h1>Клуб программистов</h1>
<a asp-action="Rules">Правила</a>
<p>
    Вы получили приглашение в клуб программистов.
    Добро пожаловать в наш уютный клуб!
</p>
<form asp-action="Registration" method="post">
    <h4>Регистрация нового участника клуба</h4>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Ваше имя:</label>
        <input asp-for="Name" />
    </div><br/>
    <input type="submit" value="Зарегистрироваться" />
</form>

