@model Member
@{
    ViewBag.Title = "Главная";
}

<h1>Клуб программистов</h1>
<a asp-action="Rules">Правила</a>
<p>
    Вы получили приглашение в клуб программистов.
    Добро пожаловать в наш уютный клуб!
</p>

<partial name="Partial/RegistrationPartial" model="Model" />


