@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
<div>
    <div class="text-center m-2">
        <h3>Организовывается вечеринка.</h3>
        <h4>Ты приглашен!</h4>
        <a class="btn btn-primary" asp-action="RequestForm">Ответить на приглашение</a>
    </div>
</div>
</body>
</html>


