@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Правила - Клуб программистов</title>
</head>
<body>
    <h4>Правила клуба</h4>
    <p>Участники клуба имеют право программировать.</p>
    <p>Участникам клуба запрещено писать плохой код.</p>
</body>
</html>


