@{
    ViewData["Title"] = "Vue dev";
}

<div>
    <h1 class="display-4">Vue dev</h1>
    
    <div id="firstapp">
        <p>{{ message }}</p>
        <button v-on:click="setMessage" class="btn btn-primary">Отобразить сообщение</button>
        
        <text-box></text-box>
    </div>
    
    
</div>

@section Scripts
{
    <script src="~/js/apps/firstapp.js" type='module' charset='utf-8' asp-append-version="true"></script>
}
